{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}v4/channel.css">
<link rel="stylesheet" href="{CSS_PATH}v4/list.css">

<script language="javascript" type="text/javascript">
function showSubNav(id){
document.getElementById(id).style.display='block';
}
function hideSubNav(id){
document.getElementById(id).style.display='none';
}

$(document).ready(function(){
     var page = 2;
     var pagesize = 9;

    $('#more').click(function(){
        $.ajax({   
            url:'{APP_PATH}api_v2.php?op=phpcmsv9&file=article&action=load_more&callback=jscallback', 
            dataType:'jsonp',  
            type:'get',   
            data:'page='+page+'&pagesize='+pagesize+'&catid={$catid}&modelid=11',   
            async : false, //默认为true 异步   
            error:function(){   
               alert('error');   
            },   
            success:function(data){   
                var html = '';
                $.each(data, function(idx, obj) {
                    html = html + '<dl><dt><a href="'+obj.url+'"><img src="'+obj.thumb+'" alt=""></a></dt><dd class="title"><a href="'+obj.url+'">'+obj.title+'</a></dd></dl> '; 
                });
                page = page +1;
               $(".news-list").append(html);
            }
        });
    }); 
});

</script>

        <!-- 头部结束 -->
        <!-- con开始 -->
        <div class="con-out">
            <div class="news">
                <div class="w-1170">
                    <div class="pingce">
                        <h2>{$catname}</h2>
                    </div>
                    <div class="hot-video-list clearfix">
                        {pc:content  action="lists" tagid="list_video_kjssn_1" modelid="11" keywords="首推" typeid="53" catid="18" order="id DESC" thumb="1" num="1"}
                            {loop $data $r} 
                                <a href="{$r['url']}" class="video-list first-video-list">
                                    <img src="{$r['thumb']}" alt=""><span >{$r['title']}</span><div class="bg-gra"></div>
                                </a> 
                            {/loop}
                        {/pc}

                        {pc:content  action="lists" tagid="list_video_kjssn_2" modelid="11" typeid="53" catid="18" order="id DESC" thumb="1" num="2"}
                            {loop $data $r}
                                <a href="{$r['url']}" class="video-list">
                                    <img src="{$r['thumb']}" alt=""><span>{$r['title']}</span><div class="bg-gra"></div>
                                </a> 
                            {/loop}
                        {/pc}

                    </div>
                    <div class="channel-list"><a href="javascript:;" class="active">最新资讯</a>
                        <span class="line-icon"></span><a href="{APP_PATH}index.php?m=content&c=index&a=type_list&typeid=53&modelid={$modelid}&catid={$catid}">评测</a>
                        <span class="line-icon"></span><a href="{APP_PATH}index.php?m=content&c=index&a=type_list&typeid=59&modelid={$modelid}&catid={$catid}">视频</a>
                    </div>
                    <div class="news-list clearfix">
                        {pc:content  action="lists" modelid="11" catid="18" order="id DESC" thumb="1" num="9"}
                            {loop $data $r}
                                <dl>
                                <dt><a href="{$r['url']}"><img src="{$r['thumb']}" alt=""></a></dt>
                                <dd class="title"><a href="{$r[url]}">{$r['title']}</a></dd>
                                </dl> 
                            {/loop}
                        {/pc} 
                    </div>
                    <a href="javascript:;" class="more" class="load-more" id="more">更多</a>
                </div>
            </div>

        </div>
        <!-- con结束 -->

        <!-- 底部开始 -->
{template "content","footer"}


