<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="format-detection" content="telephone=no" />
    <title>螃蟹科技视频详情页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script type="text/javascript" src="../statics/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../statics/css/reset.css">
    <link rel="stylesheet" href="../statics/css/common.css">
    <link rel="stylesheet" href="../statics/css/show.css">
</head>

<body>
	<div class="page">
        <!-- 头部开始 -->
        <div class="header">
            <div class="w-1170 clearfix">
                <a href="#" class="logo"></a>
                <dl class="info">
                    <dt><a href="#">投稿</a></dt>
                    <dd><a href="#" class="weibo-icon">微博</a></dd>
                    <dd><a href="#" class="weixin-icon">微信</a></dd>
                </dl>
            </div>
            <div class="nav">
            <div class="w-1170 clearfix">
                <ul class="nav-list clearfix">
                    <li><a href="javascript:;" class="index-active"><s class="index-con"></s></a></li>
                    <li><a href="#">智能穿戴</a></li>
                    <li><a href="#">生活健康</a></li>
                    <li><a href="#">智能手机</a></li>
                    <li><a href="#">出行智玩</a></li>
                    <li><a href="#">视频</a></li>
                    <li><a href="#">VR <s class="hot-icon">HOT</s></a></li>
                    <li><a href="#">无人机 <s class="hot-icon">HOT</s></a></li>
                </ul>
                <form action="/" class="search">
                    <!-- <input type="text" class="keyword"> -->
                    <input type="submit" class="search-icon">
                </form>
            </div>
        </div>
        </div>
        
        <!-- 头部结束 -->
        <!-- con开始 -->
        <div class="con-out">
            <div class="video-con">
                <div class="w-780">
                    <img src="../statics/img/video_img.jpg"alt="">
                </div>
            </div>
            <div class="show-con show-video-con clearfix">
                <div class="w-780">
                    <h1>插线板行业的良心之作 小米插线板拆解</h1>
                    <h3 class="dec">沧海一粟 <s></s> 2015-09-01 <s></s> 原创</h3>
                    <div class="show-con-con">
                        
                        <div class="show-content J_content">俗话说：用尽一生精力，也要换来一个完美身材。现如今，家用健身器材领域正在不断的发展，市场上也有各种家用健身产品，而在众多健身器材中跑步机一直都受到很多健身人士的喜爱。近日，锐步推出一款带有创新减震科技的JET系列智能跑步机，该系列跑步机主打智能操作系统与独家减振科技两项产品特性。</div>
                        <a href="javascript:;" class="open J_open">展开详情 <span></span></a>
                    </div>
                    <div class="keyword"> <a href="#">螃蟹科技</a><a href="#">热水壶</a><a href="#">机器人</a></div>
                    <div class="share">分享位置占位</div>
                </div>
            </div>
            <div class="related">
                <div class="w-780">
                    <h2>热门视频</h2>
                    <div class="related-list clearfix">
                        <dl>
                            <dt><a href="#"><img src="../statics/img/img.jpg" alt=""><span>5:20</span></a></dt>
                            <dd><a href="#">看完了IFA，你才知道什么叫“安卓机皇”</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><img src="../statics/img/img.jpg" alt=""><span>5:20</span></a></dt>
                            <dd><a href="#">看完了IFA，你才知道什么叫“安卓机皇”</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><img src="../statics/img/img.jpg" alt=""><span>5:20</span></a></dt>
                            <dd><a href="#">看完了IFA，你才知道什么叫“安卓机皇”</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><img src="../statics/img/img.jpg" alt=""><span>5:20</span></a></dt>
                            <dd><a href="#">看完了IFA，你才知道什么叫“安卓机皇”</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="w-780">
                    <h2>评论</h2>
                    <div class="comment-con">
                        评论列表占位
                    </div>
                </div>
            </div>
        </div>
        <!-- con结束 -->

        <!-- 底部开始 -->
        <div class="footer">
            <div class="w-1170 clearfix">
                <div class="info">
                    <div class="logo-text-icon"></div>
                    <ul class="clearfix">
                        <li><a href="#">关于我们</a> &frasl; </li>
                        <li><a href="#">联系我们</a> &frasl; </li>
                        <li><a href="#">广告及服务</a> &frasl; </li>
                        <li><a href="#">意见反馈</a> &frasl; </li>
                        <li><a href="#">投稿方式</a></li>
                    </ul>
                    <p class="record">© 2015 PANGXIEKEJI.COM 螃蟹科技 京ICP备15036583号-1</p>
                </div>
                <div class="links">
                    <p>友情链接:</p>
                    <div class="links-list">
                        <a href="#">魔方网</a><a href="#">魔方网</a><a href="#">魔方网</a>
                    </div>
                </div>
                <div class="follow">
                    <p>关注我们</p>
                    <div class="follow-list">
                        <a href="#" class="weixin-big-icon">微信</a>
                        <a href="#" class="weibo-big-icon">微博</a>
                        <a href="#" class="mail-icon">站内信</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../statics/js/show_video.js"></script>
        <!-- 底部结束 -->
    </div>
</body>
</html>