{template "wap","header"}
<link rel="stylesheet" href="{CSS_PATH}v4/wap/index.css">
<!-- header -->

<div class="main">
	<div class="m-box m-list">
		<h2>智能手机</h2>
		<div class="m-box-spec m-list-con">  
			{pc:content  action="lists" catid="11" order="id DESC" thumb="1" num="2"}
            {loop $data $r}
				<dl>
					<dt>
						<a href="{$r['url']}"><img src="{$r['thumb']}"></a>
					</dt>
					<dd class="m-title">
						<a href="{$r['url']}">{$r['title']}</a>
					</dd>
					<dd class="m-date">{date("Y-m-d H:i",$r['inputtime'])}</dd>
				</dl>
			{/loop}
			{/pc}

		</div>
		<span class="m-list-more"><a href="{get_catid_url(11)}">更多</a></span>
	</div> 

	<div class="m-box m-list">
		<h2>智能穿戴</h2>
		<div class="m-box-spec m-list-con">  

			{pc:content  action="lists" catid="9" order="id DESC" thumb="1" num="2"}
            {loop $data $r}
				<dl>
					<dt>
						<a href="{$r['url']}"><img src="{$r['thumb']}"></a>
					</dt>
					<dd class="m-title">
						<a href="{$r['url']}">{$r['title']}</a>
					</dd>
					<dd class="m-date">{date("Y-m-d H:i",$r['inputtime'])}</dd>
				</dl>
			{/loop}
			{/pc}
			
		</div>
		<span class="m-list-more"><a href="{get_catid_url(9)}">更多</a></span>
	</div> 

	<div class="m-box m-list">
		<h2>智能家居</h2>
		<div class="m-box-spec m-list-con">  

			{pc:content  action="lists" catid="23" order="id DESC" thumb="1" num="2"}
            {loop $data $r}
				<dl>
					<dt>
						<a href="{$r['url']}"><img src="{$r['thumb']}"></a>
					</dt>
					<dd class="m-title">
						<a href="{$r['url']}">{$r['title']}</a>
					</dd>
					<dd class="m-date">{date("Y-m-d H:i",$r['inputtime'])}</dd>
				</dl>
			{/loop}
			{/pc}
			
		</div>
		<span class="m-list-more"><a href="{get_catid_url(23)}">更多</a></span>
	</div> 


	<div class="m-box m-list">
		<h2>生活健康</h2>
		<div class="m-box-spec m-list-con">  

			{pc:content  action="lists" catid="10" order="id DESC" thumb="1" num="2"}
            {loop $data $r}
				<dl>
					<dt>
						<a href="{$r['url']}"><img src="{$r['thumb']}"></a>
					</dt>
					<dd class="m-title">
						<a href="{$r['url']}">{$r['title']}</a>
					</dd>
					<dd class="m-date">{date("Y-m-d H:i",$r['inputtime'])}</dd>
				</dl>
			{/loop}
			{/pc}
			
		</div>
		<span class="m-list-more"><a href="{get_catid_url(10)}">更多</a></span>
	</div> 


	<div class="m-box m-list">
		<h2>出行智玩</h2>
		<div class="m-box-spec m-list-con">  

			{pc:content  action="lists" catid="12" order="id DESC" thumb="1" num="2"}
            {loop $data $r}
				<dl>
					<dt>
						<a href="{$r['url']}"><img src="{$r['thumb']}"></a>
					</dt>
					<dd class="m-title">
						<a href="{$r['url']}">{$r['title']}</a>
					</dd>
					<dd class="m-date">{date("Y-m-d H:i",$r['inputtime'])}</dd>
				</dl>
			{/loop}
			{/pc}
			
		</div>
		<span class="m-list-more"><a href="{get_catid_url(12)}">更多</a></span>
	</div> 

 





</div>

<!-- footer -->
{template "wap","footer"}
		 