{template "wap","header"}
<link rel="stylesheet" href="{CSS_PATH}v4/wap/show.css">

		<div class="main">
			<div class="main-con">
                <h1>{$title}</h1> 
                <span class="autor">{$inputtime}</span>
                <div class="arc-con">
                    {$content}
                </div>
                <div class="keywrod"><span>关键词: </span> 
                     {loop $keywords $keyword}
                            {if trim($keyword)!=''}
                        <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}">{$keyword}</a>
                            {/if} 
                    {/loop} 
                </div>
                <div class="share"> 

                </div>      
            </div>
            <div class="comment">
                <h2>网友评论</h2>
                <div class="ds-thread" data-thread-key="content-news-{$id}" data-title="{$title}" data-url="{$url}"></div>

                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"pangxiekeji"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                                || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
            </div>
		</div>

<!-- footer -->
{template "wap","footer"}
		